body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0;
	padding: 0;	
	margin-left:-10px;

	line-height:120%
}
p {
margin:0;
padding:0;
}
/*#formbase {
position:relative;
left:-10px;
top:-36px;
z-index:1;
}*/
#data {
position:absolute;
left:0px;
top:0px;
z-index:100;
}



#data1a {
	position:absolute;
	width:420px;
	top:158px;
	left:114px;
}
#data1b {
	position:absolute;
	width:100px;
	top:161px;
	left:527px;
}
#data1c {
	position:absolute;
	width:100px;
	top:161px;
	left:640px;
}
#data1d {
	position:absolute;
	width:104px;
	top:161px;
	left:755px;
}
#data1e {
	position:absolute;
	width:100px;
	top:161px;
	left:875px;
}

#data2a {
	position:absolute;
	width:420px;
	top:210px;
	left:114px;
}
#data2b {
	position:absolute;
	width:100px;
	top:212px;
	left:527px;
}
#data2c {
	position:absolute;
	width:100px;
	top:212px;
	left:640px;
}
#data2d {
	position:absolute;
	width:104px;
	top:212px;
	left:755px;
}
#data2e {
	position:absolute;
	width:90px;
	top:212px;
	left:875px;
}



#data3a {
	position:absolute;
	width:420px;
	top:259px;
	left:114px;
}
#data3b {
	position:absolute;
	width:100px;
	top:263px;
	left:527px;
}
#data3c {
	position:absolute;
	width:100px;
	top:263px;
	left:640px;
}
#data3d {
	position:absolute;
	width:104px;
	top:263px;
	left:755px;
}
#data3e {
	position:absolute;
	width:100px;
	top:263px;
	left:875px;
}


#data4a {
	position:absolute;
	width:420px;
	top:313px;
	left:114px;
}
#data4b {
	position:absolute;
	width:100px;
	top:316px;
	left:527px;
}
#data4c {
	position:absolute;
	width:100px;
	top:316px;
	left:640px;
}
#data4d {
	position:absolute;
	width:104px;
	top:316px;
	left:755px;
}
#data4e {
	position:absolute;
	width:100px;
	top:316px;
	left:875px;
}


#data5a {
	position:absolute;
	width:420px;
	top:364px;
	left:114px;
}
#data5b {
	position:absolute;
	width:100px;
	top:367px;
	left:527px;
}
#data5c {
	position:absolute;
	width:100px;
	top:367px;
	left:640px;
}
#data5d {
	position:absolute;
	width:104px;
	top:367px;
	left:755px;
}
#data5e {
	position:absolute;
	width:100px;
	top:367px;
	left:873px;
}


#data6a {
	position:absolute;
	width:420px;
	top:415px;
	left:114px;
}
#data6b {
	position:absolute;
	width:100px;
	top:420px;
	left:527px;
}
#data6c {
	position:absolute;
	width:100px;
	top:420px;
	left:640px;
}
#data6d {
	position:absolute;
	width:104px;
	top:420px;
	left:755px;
}
#data6e {
	position:absolute;
	width:100px;
	top:420px;
	left:873px;
}

#data7a {
	position:absolute;
	width:420px;
	top:467px;
	left:114px;
}
#data7b {
	position:absolute;
	width:100px;
	top:470px;
	left:527px;
}
#data7c {
	position:absolute;
	width:100px;
	top:470px;
	left:640px;
}
#data7d {
	position:absolute;
	width:104px;
	top:470px;
	left:755px;
}
#data7e {
	position:absolute;
	width:100px;
	top:470px;
	left:873px;
}


#data8a {
	position:absolute;
	width:420px;
	top:519px;
	left:114px;
}
#data8b {
	position:absolute;
	width:90px;
	top:522px;
	left:526px;
}
#data8c {
	position:absolute;
	width:100px;
	top:522px;
	left:640px;
}
#data8d {
	position:absolute;
	width:104px;
	top:522px;
	left:755px;
}
#data8e {
	position:absolute;
	width:100px;
	top:522px;
	left:873px;
}

#data9a {
	position:absolute;
	width:420px;
	top:571px;
	left:114px;
}
#data9b {
	position:absolute;
	width:100px;
	top:572px;
	left:527px;
}
#data9c {
	position:absolute;
	width:100px;
	top:572px;
	left:640px;
}
#data9d {
	position:absolute;
	width:104px;
	top:572px;
	left:755px;
}
#data9e {
	position:absolute;
	width:100px;
	top:572px;
	left:874px;
}

#data10a {
	position:absolute;
	width:420px;
	top:623px;
	left:114px;
}
#data10b {
	position:absolute;
	width:100px;
	top:624px;
	left:527px;
}
#data10c {
	position:absolute;
	width:100px;
	top:624px;
	left:640px;
}
#data10d {
	position:absolute;
	width:104px;
	top:624px;
	left:755px;
}
#data10e {
	position:absolute;
	width:100px;
	top:626px;
	left:873px;
}


#data1z { position:absolute; width:20px; top:158px; left:68px; text-align:right; }
#data2z { position:absolute; width:20px; top:210px; left:68px; text-align:right; }
#data3z { position:absolute; width:20px; top:262px; left:68px; text-align:right; }
#data4z { position:absolute; width:20px; top:314px; left:68px; text-align:right; }
#data5z { position:absolute; width:20px; top:366px; left:68px; text-align:right; }
#data6z { position:absolute; width:20px; top:418px; left:68px; text-align:right; }
#data7z { position:absolute; width:20px; top:470px; left:68px; text-align:right; }
#data8z { position:absolute; width:20px; top:522px; left:68px; text-align:right; }
#data9z { position:absolute; width:20px; top:574px; left:68px; text-align:right; }
#data10z { position:absolute; width:20px; top:626px; left:68px; text-align:right; }
